@model ProyectoMedexcard.Entities.Empleado

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Em_FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Em_FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Em_FechaModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Em_FechaModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Em_FechaElimina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Em_FechaElimina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Em_UsuCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Em_UsuCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Em_UsuModifica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Em_UsuModifica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Em_UsuElimina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Em_UsuElimina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Em_Rol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Em_Rol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Em_Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Em_Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Em_Eliminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Em_Eliminado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Em_IdPersonaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Em_IdPersonaNavigation.Per_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Em_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
